<style>
linkop{
  display:none;
}
p{
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a{
  color: #009688;
}
.btn{
  display:none
}
.project-tagline:after{
content: "My name is Link.";
}
</style> 
